
.displayHome {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin: 0px 60px 0px 60px;
    border-radius: 25px;
  }
  @media (max-width: 530px) {
    .displayHome {
      margin: 0px;
    }
  }
  
  .HomeFrontPicture {
    height: 223px;
    -o-object-fit: cover;
       object-fit: cover;
    display: flex;
    border-radius: 25px;
  }
  
  .displayHomeFront {
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    @media (max-width:385px) {
      margin-bottom: -45px;
    }
  }
  
  .displayHomeFront p {
    display: flex;
    justify-content: center;
    width:100%;
    position: relative;
    bottom:170px;
    left:110px;
    opacity: 30%;
    background: black;
    height: 223px;
    border-radius: 25px;
    margin: -110px;
    @media (min-width: 385px) {
      bottom:143px;
      }
    
    @media (min-width:685px){
      bottom:157px;
    }
    @media (min-width:1024px){
      bottom:170px;
    }
      
    
  }
  
  .displayHomeFront h1 {
    color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    width: 100%;
    font-size: 24px;
    
    z-index: 2;
    position: relative;
    bottom: 135px;
    margin: auto;
    border-radius: 25px;
    @media(max-width:380px){
    left:10px;
    }
  }
  
  @media (min-width: 685px) {
    .displayHomeFront h1 {
      width: 100%;
      font-size: 36px;
    }
  }
  @media (min-width: 1024px) {
    .displayHomeFront h1 {
      font-size: 48px;
    }
}