@import "../utils/style/color.scss";
@import "../Base/Tipography.scss";
.ErrorWrapper {
  display: flex;
  flex-direction: column;
  gap: 45px;
margin: 0px 40px 80px 40px;
  text-align: center;
  color: $primary-color;
}
.ErrorTitle {
  
  font-size: 288px;
  
margin: 0px;
  font-weight: 700;
  line-height: 411px;
  letter-spacing: 0em;
}
.ErrorSubtitle {
  font-weight: 500;
  color: $primary-color;
font-size:36px;
}
.ErrorLink {
  color: $primary-color;
}
