.carousel-container {
  position: relative;
  width: 100%;
  height: 415px;
  border-radius: 50px;
  margin-bottom: 25px;
  @media (max-width: 610px) {
    height: 255px;
  }
}
.carousel-container img {
  width: 100%;
  border-radius: 50px;
  object-fit: cover;
  height: 415px;
  @media (max-width: 610px) {
    height: 255px;
  }
}
.button-prev {
  width: 46px;
  height: 79px;
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  z-index: 2;
  border: none;
  background: none;
  cursor: pointer;
  @media (max-width: 374px) {
    width: 24px;
  }
}
.button-prev img {
  width: 46px;
  height: 79px;
}

.button-next {
  width: 46px;
  height: 79px;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  z-index: 2;
  border: none;
  background: none;
  cursor: pointer;
  @media (max-width: 374px) {
    width: 24px;
  }
}
.button-next img {
  width: 46px;
  height: 79px;
}
.image-numbers {
  text-align: center;
  margin-top: 10px;
}
.carousel-slider {
  border-radius: 10px;
}
.carousel-image {
  height: 415px;
  object-fit: cover;
}
.show {
  display: block;
}
.hide {
  display: none;
}
.carousel .slide img {
  @media (max-width: 374px) {
    height: 255px;
  }
}
